/* =============== PC ==============*/
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/*============ Tablet & Mobile ==============*/
@media (max-width: 991.98px) {
  /* 1. ẩn thanh navbar trên Table & Mobile */
  .navbar {
    display: none;
  }
  /* 2. chuyển logo vào giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* 3. căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 24px;

    color: #fff;
    width: 24px;
  }
  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* bình thường ẳn lớp phủ */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 5.kiểm tra nếu menu checkbox được check thì hệt overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 6. code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 59% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* 7. kiểm tra nếu checkbox được check thì hiện menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 8.menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }
  /*9. khối hero  */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__content {
    order: 2;
    text-align: center;
    width: 80%;
    margin: 22px auto;
  }
  .hero__media {
    order: 1;
  }
  .hero__row {
    justify-content: center;
    row-gap: 20px;
  }
  /* 10. khối service */
  .service__row {
    flex-direction: column;
    gap: 30px;
  }
  .service__img {
    width: 100%;
  }
  .service__list {
    text-align: center;
    justify-content: center;
  }
  .service-item {
    width: 90%;
    text-align: start;
  }
  /* 11. khối work */
  .work__desc,
  .work__heading {
    text-align: center;
  }
  .work__desc {
    margin: 0 auto;
  }
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* 12. khối about */
  /*      .about-row {
           flex-direction: column;
           row-gap: 160px;
           align-items: center;
           justify-content: center;
          }
            */

  .about-row {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .about__media {
    width: 100%;
  }
  .about__img--small {
    display: none;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
  }
  .about-content {
    width: 80%;
    text-align: center;
  }
}
/* Table */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* Mobile */
@media (min-width: 767.98px) {
}
/* tạm ẩn không liên quan */
.footer {
  display: none;
}
